@charset "UTF-8";




.dummy_canvas {
	display: none;
}

#original_size_canvas {
	top: 300px;
	display: block;
	position: absolute;
}

#posting_wrap{
	top:0;
	left:0;
	overflow:hidden;
	position:absolute;
	z-index:380000;
	background-color:rgba(0, 0, 0, 0.5);
	width:100%;
	height:100%;
	display:none;	
}

#posting_whole {
	position: absolute;
	border: 1px solid #efefef;
	border-radius: 3px;
	box-sizing: border-box;
	background-color: white;
	min-height: 400px;
	min-width: 300px;
	z-index:590000;
}

.posting_whole_normal {
	top: 10%;
	left: 30%;
	width: 40%;
	height: 70%;
}

.posting_whole_minimum {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
}

#posting_whole>div {
	width: 100%;
	height: 100%;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 16px;
	box-sizing: border-box;
}

#posting_whole>header {
	width: 100%;
	height: 35px;
	background-color: #fdfdfd;
	padding-top: 0px;
	padding-bottom: 16px;
	box-sizing: border-box;
	border-bottom: solid 1px #efefef;
}

#posting_whole>header>p {
	font-size: 0.8em;
	font-weight: bold;
	padding-left: 10px;
}

#posting_whole>div>form {
	width: 100%;
	height: 100%;
}

#posting_whole #textArea_wrapper {
	width: 100%;
	height: 50%;
	border: none;
}

#posting_whole #posting_content {
	width: 100%;
	height: 100%;
	border-radius: 2px;
	box-sizing: border-box;
	border: 1px solid #efefef;
	outline: none;
	overflow-x: hidden;
	overflow-y: auto;
	resize: none;
	scrollbar-arrow-color: #333333;
	scrollbar-base-color: #fff;
	scrollbar-3dlight-color: #fff;
	scrollbar-darkshadow-color: #fff;
	scrollbar-face-color: #333333;
	scrollbar-highlight-color: #fff;
	scrollbar-shadow-color: #fff;
	scrollbar-track-color: #fff;
}

#posting_whole #posting_content:focus {
	border: 1px solid gray;
}

#posting_whole #posting_content .hashtag {
	
}

#posting_whole ::-webkit-scrollbar {
	width: 10px;
	height: 8px;
	border: 3px solid #fff;
}

#posting_whole ::-webkit-scrollbar-track {
	background: #efefef;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#posting_whole ::-webkit-scrollbar-thumb {
	height: 50px;
	width: 50px;
	background: rgba(0, 0, 0, .2);
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

#posting_whole ::-webkit-scrollbar-thumb:hover {
	background: gray;
}

#posting_whole ::-webkit-scrollbar-thumb:active {
	background: gray;
}

#posting_whole #media_preview {
	height: 20%;
	width: 100%;
	white-space: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
}

#posting_whole #media_preview .thumbnail_wrapper {
	display: inline-block;
	position: relative;
	height: 80%;
	margin-top: 2px;
	margin-bottom: 1px;
	margin-left: 7px;
	margin-right: 7px;
}

#posting_whole #media_preview .thumbnail_wrapper:hover .thumbnail_img_landscape
	{
	background-color: white;
	opacity: 0.2;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}

#posting_whole #media_preview .thumbnail_wrapper:hover .thumbnail_media_wrapper
	{
	background-color: white;
	opacity: 0.2;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
}

#posting_whole #media_preview .thumbnail_wrapper:hover .thumbnail_img_close_wrapper
	{
	visibility: visible;
	cursor: pointer;
}

#posting_whole #media_preview .thumbnail_wrapper:hover .thumbnail_edit_img_wrapper
	{
	visibility: visible;
	cursor: pointer;
}

#posting_whole #media_preview #label_input_files {
	position: initial;
	z-index: 600000;
	display: block;
	height: 100%;
	width: 100%;
	border: 3px dashed lightgray;
	box-sizing: border-box;
	background-image: url('../img/postwrite/plus-icon-gray.png');
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
	cursor: crosshair;
}

#posting_whole #media_preview .thumbnail_wrapper .dummy {
	height: 10%;
}

#posting_whole #media_preview .thumbnail_wrapper .thumbnail_media_wrapper
	{
	position: relative;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 600000;
	background-size: cover;
	background-position: center;
}

#posting_whole #media_preview .thumbnail_wrapper .thumbnail_media_wrapper .thumbnail_img_portait
	{
	width: auto;
	height: 100%;
}

#posting_whole #media_preview .thumbnail_wrapper .thumbnail_media_wrapper .thumbnail_img_landscape
	{
	height: 100%;
	width: 100%;
}

#posting_whole #media_preview .thumbnail_wrapper .thumbnail_img_close_wrapper
	{
	visibility: hidden;
	position: relative;
	top: -100%;
	left: 80%;
	z-index: 600000;
	width: 15%;
	height: 15%;
}

#posting_whole #media_preview .thumbnail_wrapper .thumbnail_img_close_wrapper .thumbnail_img_close
	{
	width: 100%;
	height: 100%;
}

#posting_whole #media_preview .thumbnail_wrapper .thumbnail_edit_img_wrapper
	{
	visibility: hidden;
	position: relative;
	top: -50%;
	left: 35%;
	z-index: 600000;
	width: 30%;
	height: 30%;
}

#posting_whole #media_preview .thumbnail_wrapper .thumbnail_edit_img_wrapper .thumbnail_edit_img
	{
	width: 90%;
	height: 90%;
}

#posting_whole #button_area {
	padding-top: 16px;
	width: 100%;
	text-align: center;
}

#posting_whole #button_area>* {
	height: 30px;
	width: 100px;
	display: inline-block;
}

.button_bbs {
	height: 30px;
	width: 100px;
	background-color: lightgray;
	color: white;
	border-radius: 5px;
	outline: none;
	border: none;
	cursor: pointer;
	font-size: 12px;
	letter-spacing: 5%;
}

.button_bbs:hover {
	background-color: gray;
}

#media_edit {
	display: none;
	position: absolute;
	z-index: 610000;
	top: 5%;
	left: 4%;
	width: 90%;
	height: 80%;
	border: 1px solid gray;
	background-color: white;
	border-radius: 5px;
	padding: 16px;
	min-width: 800px;
	min-height: 400px;
}

#media_edit header p {
	font-weight: bold;
	font-size: 0.9em;
}

#media_edit nav {
	display: inline-block;
	height: 85%;
}

#media_edit .media_effect_sub_tab {
	background-color: #F6F6F6;
	min-width: 70px;
	overflow-y: auto;
}

.media_effect_sub_tab::-webkit-scrollbar {
	display: none;
}

#media_edit #media_effect_nav {
	position: absolute;
	display: inline-block;
	width: 10%;
	min-width: 70px;
	background-color: #efefef;
}

#media_edit #media_effect_nav #media_effect_tab .media_effect_list {
	list-style: none;
	margin: 0;
	padding: 10px;
	background-color: #efefef;
}

#media_edit #media_effect_nav #media_effect_tab .media_effect_list .media_effect_list_p
	{
	color: gray;
	font-size: 85%;
	font-weight: bold;
}

#media_edit #media_effect_nav #media_effect_tab .media_effect_list .effect_radio:checked .effect_radio 
	~label>p {
	color: black;
	display: block;
}

#media_edit #media_effect_nav #media_effect_tab .media_effect_list :hover .media_effect_list_p
	{
	color: black;
}

#media_edit nav {
	height: 80%;
}

#media_edit #media_filter_nav {
	position: absolute;
	left: 10%;
	width: 15%;
}

#media_edit #media_filter_nav li {
	width: 100%;
	height: 15%
}

#media_edit #media_filter_nav #media_filter_tab .media_filter_list .media_filter_preview_selected
	{
	display: block;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
	border: 4px solid black;
}

#media_edit #media_filter_nav #media_filter_tab .media_filter_list .media_filter_preview
	{
	display: block;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
	border: 4px solid #F6F6F6;
}

#media_edit #media_filter_nav #media_filter_tab .media_filter_list input[type=radio]
	{
	display: none;
}

#media_edit #media_cut_nav {
	position: absolute;
	left: 10%;
	width: 15%;
	display: none;
}

#media_edit #media_tag_nav {
	position: absolute;
	left: 10%;
	width: 15%;
	display: none;
}

#media_edit #media_tag_nav .tag_list_wrapper {
	display: block;
}

#media_edit #media_tag_nav .tag_list_wrapper .tag_user_wrapper {
	background-color: lightgray;
	border-radius: 20px;
	width: 60%;
	height: 22px;
	margin-left: 10px;
	margin-top: 5px;
	border: 1px solid black;
	overflow: hidden;
}

#media_edit #media_tag_nav .tag_user_wrapper p {
	display: inline-block;
	position: relative;
	font-size: 0.8rem;
	color: white;
	top: -11px;
	height: 75%;
	width: 50%;
	left: 10%;
	overflow: hidden;
}

#media_edit #media_tag_nav .tag_user_wrapper .tag_user_wrapper_close {
	display: inline-block;
	position: relative;
	height: 50%;
	width: auto;
	top: -115%;
	left: 30%;
	overflow: hidden;
}

#media_edit #media_tag_nav .tag_user_wrapper .tag_user_wrapper_close:hover
	{
	cursor: pointer;
}

#media_edit section {
	position: absolute;
	display: inline-block;
	width: 75%;
	height: 85%;
	left: 25%;
	box-sizing: border-box;
	text-align: center;
}

#media_edit section #canvas_Wrapper {
	position: absolute;
	z-index: 600000;
	width: 60%;
	height: 65%;
	left: 20%;
}

#media_edit section #canvas_Wrapper #filter_canvas {
	position: relative;
	z-index: 600000;
}

#media_edit section #canvas_Wrapper #cut_tool {
	display: inline-block;
	position: absolute;
	background-color: black;
	opacity: 0.5;
	z-index: 610000;
}

#media_edit section #canvas_Wrapper #cut_tool:hover {
	cursor: move;
}

#media_edit section #canvas_Wrapper #cut_tool .edge {
	position: absolute;
	display: inline-block;
	z-index: 620000;
	width: 15px;
	height: 15px;
	opacity: 1;
}

#media_edit section #canvas_Wrapper #cut_tool #left_top_edge {
	cursor: nw-resize;
}

#media_edit section #canvas_Wrapper #cut_tool #left_bottom_edge {
	cursor: ne-resize;
}

#media_edit section #canvas_Wrapper #cut_tool #right_top_edge {
	cursor: ne-resize;
}

#media_edit section #canvas_Wrapper #cut_tool #right_bottom_edge {
	cursor: nw-resize;
}

#media_edit section #canvas_Wrapper #tag_box {
	border: 3px solid black;
	border-radius: 6px;
	position: absolute;
	width: 75px;
	height: 75px;
	z-index: 650000;
}

#media_edit section #canvas_Wrapper #tag_wrapper {
	position: absolute;
	width: 200px;
	height: 230px;
	z-index: 650000;
	border: 1px solid black;
	border-radius: 2px;
	background-color: white;
	overflow: hidden;
}

#media_edit section #canvas_Wrapper #search_wrapper {
	position: relative;
	width: 200px;
	z-index: 650000;
}

#media_edit section #canvas_Wrapper #tag_wrapper #list_wrapper {
	max-height: 260px;
	width: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	-ms-overflow-style: none;
}

#list_wrapper::-webkit-scrollbar {
	display: none;
	width: 0px;
	background: transparent;
}

#media_edit section #canvas_Wrapper #tag_wrapper #list_wrapper .search_list
	{
	display: block;
	position: relative;
	height: 55px;
}

#media_edit section #canvas_Wrapper #tag_wrapper #list_wrapper .search_list div
	{
	display: inline-block;
}

#media_edit section #canvas_Wrapper #tag_wrapper #list_wrapper .search_list .profile_photo
	{
	position: relative;
	left: 0;
	top: 5px;
	width: 45px;
	height: 45px;
	background-size: cover;
	background-image: url('../img/postwrite/basic_profile_photo.png');
	border-radius: 100px;
}

#media_edit section #canvas_Wrapper #tag_wrapper #list_wrapper .search_list .name_wrapper
	{
	position: relative;
	left: 0px;
	top: 5px;
	width: 143px;
	height: 45px;
}

#media_edit section #canvas_Wrapper #tag_wrapper #list_wrapper .search_list .name_wrapper p
	{
	position: absolute;
	left: 0px;
	top: 0px;
	width: 50%;
	height: 30px;
	text-align: left;
}

#media_edit section #canvas_Wrapper #tag_wrapper #list_wrapper .search_list:hover
	{
	background-color: lightgray;
	cursor: pointer;
}