@CHARSET "UTF-8";


@media all and (min-width:1000px) {

   
    .fullScreen{
        
       width: 1000px;
       height: 550px;
        margin: auto;
        margin-top: 70px;
    }
	
    #modifyScreenMenu{
        
        display: inline-block;
        background-color: white;
        width: 250px;
        height: 550px;
        border: 0.5px solid rgba(213,213,213,50);
        border-right: none;
    }
    #modifyScreenMenuUl{
        width: 100%;
        text-align: center;
        list-style: none;
        background-color: white;
        border-left: 0.5px solid rgba(213,213,213,50);
        
    }
    .modifyScreenMenuLi{
        position: relative; 
        width: 100%;
        height: 50px;
        right: 40px;
        padding-top: 15px;
    }
    li input[type=radio]{
        width: 100%;
        display: none;
    }
    .modifyScreenMenuLb{
        position: relative;
        display: block;
        width: 100%;
        height: 65px;
        font-size: 15px;
        font-family: 'Jua', sans-serif;
        background-color: white;
        color: rgb(190, 190, 190);
        font-weight:bold; 
        cursor: pointer;
        bottom: 15px; 
    }
    .modifyScreenMenuLb:hover{
        background-color: rgba(213,213,213,50);
       color:black;
       font-weight:bold; 
    }
    input:checked + label{
        color: black;
       font-size: 17px;
       font-weight:bold; 
       border-left: 3px solid black;
    }
    
    #modifyScreenMain{
        position: absolute;
        display: inline-block;
        background-color: white;
        width: 750px;
        height: 550px;
        border: 0.5px solid rgba(213,213,213,50);
    }
 
    #form1{
        display: block;
        height: 87%;
        margin-left: 5px;
        margin-right: 5px;
        background-color: white;
        border: 1px solid rgba(213,213,213,50);
    }
    #form2{
        display: none;
        height: 87%;
        margin-left: 5px;
        margin-right: 5px;
        background-color: white;
        border: 1px solid rgba(213,213,213,50);
    }
 
    .modifyScreenMainTop{
        width: 700px;
        height: 160px;
        margin:20px;
        background-color: white;
    }
 
    .modifyScreenMainPhoto{
        width: 25%;
        height: 150px;
        display: inline-block;  
        background-color: white;
        margin-left: 30px;
        margin-top: 5px;
    }
 
    #modifyScreenMainPhotoBt{
        position: relative;
        height: 100%;
        width: 150px;
        border-radius: 50%;
        outline: none;
        border: none;
        cursor: pointer;
        left: 10px;
    }
    #modifyScreenMainPhoto{
        position: relative;
        border-radius: 50%;
        height: 100%;
        width: 150px;
        right: 8px;
        bottom: 1px;
    }
 
    .modifyScreenMainContent{
        position: relative;
        width: 50%;
        height: 100px;
        display: inline-block;
        bottom: 40px;
        background-color: white;
    }
    #modifyScreenIdLb{
        position: relative;
        font-size: 40px;
        top: 20px;
        left: 20px;
        background-color: white;
        font-family: 'Gothic A1', sans-serif;
        font-weight: bold;
    }
    #modifyScreenPhotoLb{
        position: relative;
        font-size: 14px;
        font-weight: bold;
        color: #B2CCFF;
        top: 25px;
        left: 30px;
        cursor: pointer;
        background-color: white;
        font-family: 'Gothic A1', sans-serif;
    }
    #modifyScreenPhotoLb:hover{
        color: cornflowerblue;
    }
    .modifyInputDiv{
        background-color: white;
        margin: 0 0 20px 50px;
        padding-top: 10px;
    }
    .modifyInputDiv2{
        background-color: white;
        margin: 0 0 20px 0px;
        padding-top: 10px;
    }
 
    .modifyInputLb{
        display: inline-block;
        text-align: right;
        width: 85px;
        font-size: 17px;
        font-weight: bold;
        background: white;
        font-family: 'Jua', sans-serif;
    }
    .modifyInputLb2{
        display: inline-block;
        text-align: right;
        width: 160px;
        font-size: 17px;
        font-weight: bold;
        background: white;
        font-family: 'Jua', sans-serif;
    }
 
    .modifyInput{
       background-color: white;
       border: 2px solid rgba(213,213,213,50);
       outline: none;
        border-radius: 2px;
        width: 450px;
        font-size: 15px;
        margin-left: 20px;
        font-weight: bold;
        font-family: 'Gothic A1', sans-serif;
    }
 
    .modifyInput:focus{
        border: 2px solid #B2CCFF;
    }
    .modifyInputDiv>select{
        position: relative;
        margin-left: 20px;
        border-radius: 2px;
        outline: none;
        width: 80px;
        height: 22px;
        background-color: white;
        font-weight: bold;
        font-size: 15px;
        border: 2px solid rgba(213,213,213,50); 
        font-family: 'Gothic A1', sans-serif;
    }
    .modifyInputDiv>select:focus{
    border:2px solid #B2CCFF;
    }
 
   #uploadPhoto{
       display: block;
       visibility: hidden;
       width: 0;
       height: 0;
   }
   
   #modifyButton{
       position: relative;
       outline: none;
       border: none;
       border-radius: 5px;
       background-color: gray;
       color:white;
       font-weight: bolder;
       width: 70px;
       height: 27px;
       font-size: 15px;
       margin-left: 10px;
       margin-top: 5px;
       left: 18px;
       float: right;
       cursor: pointer;
       font-family: 'Gothic A1', sans-serif;
   }
   /* .modifyButton:hover{
       background-color: cornflowerblue;   
   } */
 
   #psModifyBt{
     position: relative;
       outline: none;
       border: none;
       border-radius: 5px;
       background-color: gray;
       color:white;
       font-weight: bolder;
       width: 130px;
       height: 27px;
       font-size: 15px;
       margin-top: -10px;
       right: 60px;
       bottom: 10px;
       float: right;
       cursor: pointer;
       font-family: 'Gothic A1', sans-serif;
   }
  
  #chkEmail{
 	   position: relative;
       background-color: white;
       float: right;
       right: 90px;
       top:5px;
       font-size: 14px;
       font-family: 'Gothic A1', sans-serif;
       font-weight: bold;
  }
  #chkPhone{
 	   position: relative;
       background-color: white;
       float: right;
       right: 90px;
       top:5px;
       font-size: 14px;
       font-family: 'Gothic A1', sans-serif;
       font-weight: bold;
  }
  #chkBeforePw{
 	   position: relative;
       background-color: white;
       float: right;
       right: 65px;
       bottom: 21px;
       font-size: 14px;
       font-family: 'Gothic A1', sans-serif;
       font-weight: bold;
  }
  #chkPwDiv{
       position: relative;
       background-color: white;
       float: right;
       right: 65px;
       bottom: 21px;
       font-size: 14px;
       font-family: 'Gothic A1', sans-serif;
       font-weight: bold;
   }
   
 }
 
 /* ///////////////////////////////////////////////999이하/////////////////////////////////////// */
 
 @media all and (max-width:999px) {
 
 
     .fullScreen{
         width: 99%;
         margin-top: 7%;
     }
    
     #modifyScreenMenu{
         background-color: white;
         width: 100%;
     }
     #modifyScreenMenuUl{
         width: 100%;
         list-style: none;
         background-color: white;
         -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;  
         box-sizing: border-box;
     }
     .modifyScreenMenuLi{
         position: relative;
         width: 49%;
         display: inline-block;
         right: 2%;
     }
     li input[type=radio]{
         display: none;
     }
     .modifyScreenMenuLb{
         position: relative;
         display: block;
         font-size: 0.9rem;
         font-family: 'Jua', sans-serif;
         background-color: white;
         color: rgb(190, 190, 190);
         text-align: center;
         font-weight:bold; 
         cursor: pointer;
     }
     
     input:checked + label{
         color: black;
         font-size: 1rem;
         font-weight:bold;
         border-bottom: 2px solid black;
     }
 
     #modifyScreenMain{
         position: relative;
         display: inline-block;
         background-color: white;
         width: 100%;
         border: 0.5px solid rgba(213,213,213,50);    
     }
 
     #form1{
         display: block;
         height: 100%;
         background-color: white;
     }
     #form2{
         display: none;
         height: 100%;
         background-color: white;
     }
 
     .modifyScreenMainTop{
         width: 100%;
         background-color: white; 
     }
 
     .modifyScreenMainPhoto{
         display: none;
     }
 
     #modifyScreenMainPhotoBt{
         display: none;
     }
     #modifyScreenMainPhoto{
         display: none;
     }
 
     .modifyScreenMainContent{
         display: none;
     }
   
     
     .modifyInputDiv{
         background-color: white;
         padding-top: 2rem;
     }
     .modifyInputDiv2{
         background-color: white;
         padding-top: 2rem;
     }
 
     .modifyInputLb{
         display: inline-block;
         width: 95%;
         font-size: 1rem;
         font-weight: bold;
         margin-left: 2%;
         background: white;
         font-family: 'Jua', sans-serif;
     }
     .modifyInputLb2{
         display: inline-block;
         width: 96%;
         font-size: 1rem;
         font-weight: bold;
         margin-left: 2%;
         background: white;
         font-family: 'Jua', sans-serif;
     }
 
     .modifyInput{
         background-color: white;
         border: 2px solid rgba(213,213,213,50);
         outline: none;
         border-radius: 2px;
         width: 96%;
         height: 23px;
         font-size: 1rem;
         margin-left: 2%;
         font-weight: bold;
         font-family: 'Gothic A1', sans-serif;
     }
 
     .modifyInput:focus{
         border: 2px solid #B2CCFF;
     }
     .modifyInputDiv>select{
         margin-left: 2%;
         border-radius: 2px;
         outline: none;
         width: 80px;
         height: 23px;
         background-color: white;
         font-weight: bold;
         font-size: 1rem;
         border: 2px solid rgba(213,213,213,50); 
         font-family: 'Gothic A1', sans-serif;
     }
     .modifyInputDiv>select:focus{
     border:2px solid #B2CCFF;
     }
 
     #uploadPhoto{
     display: none;
     }
 
     #modifyButton{
     position: relative;
     outline: none;
     border: none;
     border-radius: 5px;
     background-color: gray;
     color:white;
     font-weight: bolder;
     width: 70px;
     height: 27px;
     margin-right: 2%;
     margin-top: 3%;
     margin-bottom: 2%;
     font-size: 1rem;
     float: right;
     cursor: pointer;
     font-family: 'Gothic A1', sans-serif;
     }
 
     #psModifyBt{
     outline: none;
     border: none;
     border-radius: 5px;
     background-color: gray;
     color:white;
     font-weight: bolder;
     width: 130px;
     height: 27px;
     margin-right: 2%;
     margin-top: 5%;
     margin-bottom: 2%;
     font-size: 1rem;
     float: right;
     cursor: pointer;
     font-family: 'Gothic A1', sans-serif;
     }
 
     .chkEmailPhonePw{
     position: relative;
     background-color: white;
     float: right;
     margin-right: 3%;
     bottom: 22.5px;
     font-size: 1rem;
     font-family: 'Gothic A1', sans-serif;
     font-weight: bold;
     }
 
 }
 